<p>form-component works!</p>
<h1>Form Component Details</h1>
<form>
    <div class="mb-3">
        <label for="id1" class="form-label">fullName</label>
        <input type="text" class="form-control" id="id1" >
      </div>
    <div class="mb-3">
      <label for="id2" class="form-label">Email address</label>
      <input type="email" class="form-control" id="id2" >
    </div>
    <div class="mb-3">
      <label for="id2" class="form-label">Password</label>
      <input type="password" class="form-control" id="id2">
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
